footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-gray-0;
    padding: 25px;

    .socialmedia {
        margin-bottom: 25px;

        a {
            font-size: 20px;
            color: $color-dark;
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px;

            &:hover {
                color: $color-theme;
                text-decoration: none;
            }
        }
    }
}